

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.aside_wrapper {
height: 100%;
width:493px;
background-color :#006595;
padding: 0px;
margin:0;
border-radius: 0 30px 30px 30px;
}

.navbar {
  height: 100%;
  width: 493px;
  background-color:  #006595;
  padding: 0px;
  margin:0;
  border-radius: 0 30px 30px 30px;
  }

ul li {

width: 100%;
height: 100px;
size: 50px;
list-style-type:none;

display: flex;
flex-direction: row;
color:white;
justify-content: center;
align-items: center;
font-family: Montserrat;
font-weight: 700;
}

.item a {
color: white;
text-decoration: none;
font-size: 30px;
}
.item a.active-link {
color:#AED7FF;
}
.SidebarList{
height: auto;
  width: 100%;
  padding: 0;
  font-family: Montserrat;
}
ul li:hover{
cursor:pointer;
  background-color:  #AED7FF;
  border-radius: 10px 10px 10px 10px;
  
}


