* {
  margin: 0;
  padding: 0;
}

.contentWrap {
  display: grid;
  grid-template-areas:
    "header header"
    "aside content";
  grid-template-columns: 1fr 5fr;
  grid-gap: 5px;
}

.content {
  grid-area: content;
}
.App{
  width: 100vw;
  height: 100vh;
  margin-top :0px;
  }
